* {
    margin: 0;
    padding: 0;
    background-color: #c9c1b5 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 18%;
}

nav a {
    font-size: 100%;
    color: #F4F3F0;
    padding: 4% 2%;
    text-decoration: none;
}

nav a:hover {
  color: rgb(101, 97, 91);  
}

header {
    color: rgb(244, 243, 240);
    padding-left: 26%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

div p {
    font-size: 18px;
    color:rgb(101, 97, 91);
    line-height: 2;
    word-wrap: wrap;
}

h1 {
    font-size: 30px;
    padding-left: 18%;
}

h2 {
    font-size: 18px;
    padding-left: 18%;
    padding-top: 5%;
    line-height: 1.25;

}

.text {
    font-size: 18px;
    color: rgb(101, 97, 91);
    line-height: 2;
    word-wrap: wrap;
}

header img {
    width: 150%;
    padding-left: 5%;
}

.callout {
    display: flex;
    flex-direction: row;
    padding:4%;
    max-width:50%;
}

h3 {
    color: #F4F3F0;
    font-size: 25px;
    padding-top: 5%;
    padding-bottom: 5%;
}

section {
    padding-left: 24%;
    padding-right: 30%;
    margin-left: 5%;
    max-width: 100%;
    color: #F4F3F0;
}

section img {
    width: 70%;
}

section img:hover {
    border: 3px solid rgb(101, 97, 91);
}

figcaption {
    color:rgb(101, 97, 91); 
    font-size: 18px;
    padding-top: 3%;
}

.contact-info {
    color:rgb(101, 97, 91); 
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.25;
}

footer {
    padding-bottom: 10%;
}


@media screen and (max-width: 992px) {
    nav,
    header,
    main {
        width: 100%;
    }
}

@media screen and (max-width: 612px) {
    nav,
    header,
    main {
        width: 100%;
    }
    .callout {
        flex-direction: column;
    }
    .callout p {
        order: 1;
    }
    header h2 {
        width: 100%;
    }
    section {
        width: 100%;
    }
}